{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- <div class="page-style-a">
        <div class="container">
            <div class="page-intro">
                <h2>Cart</h2>
                <ul class="bread-crumb">
                    <li class="has-separator">
                        <i class="ion ion-md-home"></i>
                        <a href="home.html">Home</a>
                    </li>
                    <li class="is-marked">
                        <a href="cart.html">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <!-- Page Introduction Wrapper /- -->
    <!-- Cart-Page -->
    <div class="page-cart u-s-p-t-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form>


                        {% if not cart %}
        
            <div style="height:300px;text-align: center;">
                  <h2 style="font-family: sans-serif;color: rgb(246, 86, 12);">Your Cart is Empty !!!!</h2><br>
                  <div class="button-area">
                    <a href="{% url 'home' %}" style="font-weight:bold;color:rgb(240, 16, 16);">Continue Shopping</a>
                    </div>
            </div>
                </div>
                  {% else %}
                        <!-- Products-List-Wrapper -->
                        <div class="table-wrapper u-s-m-b-60">
                            <table >
                                <tr ><h4 style="margin-left:525px;color:#000;font-weight:bold;">My Cart</h4></tr>
                                <thead>
                                    <tr >
                                        <th style="color: red;font-size:17px;">Product</th>
                                        <th style="color: red;font-size:17px;">Price</th>
                                        <th style="color: red;font-size:17px;">Quantity</th>
                                        <th style="color: red;font-size:17px;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for i in cart %}
                                    <tr>
                                        <td>
                                            <div class="cart-anchor-image">
                                                <a href="{% url 'singleproduct' i.product_id %}">
                                                    <img src="{{i.product.product_image.url}}" alt="Product">
                                                    <h6>{{i.product.name}}</h6>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart-price">
                                                {{i.product.selling_price}}
                                            </div>
                                        </td>
                                        
                                        <td>
                                            <div class="cart-quantity">
                                                <div class="quantity">
                                                    <input type="text" class="quantity-text-field" value="{{i.product_qty}}" readonly>
                                                    <a class="plus-a" data-max="1000" href="{% url 'plusqty' i.id %}">&#43;</a>
                                                    <a class="minus-a" data-min="1" href="{% url 'minusqty' i.id %}">&#45;</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="cart-price">
                                                {{i.price}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="action-wrapper">
                                                <!-- <button class="button button-outline-secondary fas fa-sync"></button> -->
                                                <a href="{% url 'de_cart' i.id %}" style="font-size:18px;color:red;" >X</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}




                                    <tr>
                                        <td> </td>       
                                        <td></td>                                  
                                        <td>
                                            <div class="cart-anchor-image">    
                                                <h6 style="color:red;font-size:17px;font-weight: bolder;">Grand Total:</h6>
                                            </a>
                                        </div>
                                        </td>
                                        <td>
                                            <div class="cart-price" style="color:red;">
                                                {{total}}
                                            </div>
                                        </td>
                                    </tr>


                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- Products-List-Wrapper /- -->
                        <!-- Coupon -->
                        <div class="coupon-continue-checkout u-s-m-b-60">
                            <!-- <div class="coupon-area">
                                <h6>Enter your coupon code if you have one.</h6>
                                <div class="coupon-field">
                                    <label class="sr-only" for="coupon-code">Apply Coupon</label>
                                    <input id="coupon-code" type="text" class="text-field" placeholder="Coupon Code">
                                    <button type="submit" class="button">Apply Coupon</button>
                                </div>
                            </div> -->
                            <div class="button-area">
                                <a href="{% url 'home' %}" class="continue">Continue Shopping</a>
                                <a href="{% url 'checkout' %}" class="checkout">Proceed to Checkout</a>
                            </div>
                        </div>

                        {% endif %}
                        <!-- Coupon /- -->
                    </form>
                    <!-- Billing -->
                    <!-- <div class="calculation u-s-m-b-60">
                        <div class="table-wrapper-2">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="2">Cart Totals</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3 class="calc-h3 u-s-m-b-0">Subtotal</h3>
                                        </td>
                                        <td>
                                            <span class="calc-text">$222.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3 class="calc-h3 u-s-m-b-8">Shipping</h3>
                                            <div class="calc-choice-text u-s-m-b-4">Flat Rate: Not Available</div>
                                            <div class="calc-choice-text u-s-m-b-4">Free Shipping: Not Available</div>
                                            <a data-toggle="collapse" href="#shipping-calculation" class="calc-anchor u-s-m-b-4">Calculate Shipping
                                            </a>
                                            <div class="collapse" id="shipping-calculation">
                                                <form>
                                                    <div class="select-country-wrapper u-s-m-b-8">
                                                        <div class="select-box-wrapper">
                                                            <label class="sr-only" for="select-country">Choose your country
                                                            </label>
                                                            <select class="select-box" id="select-country">
                                                                <option selected="selected" value="">Choose your country...
                                                                </option>
                                                                <option value="">United Kingdom (UK)</option>
                                                                <option value="">United States (US)</option>
                                                                <option value="">United Arab Emirates (UAE)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="select-state-wrapper u-s-m-b-8">
                                                        <div class="select-box-wrapper">
                                                            <label class="sr-only" for="select-state">Choose your state
                                                            </label>
                                                            <select class="select-box" id="select-state">
                                                                <option selected="selected" value="">Choose your state...
                                                                </option>
                                                                <option value="">Alabama</option>
                                                                <option value="">Alaska</option>
                                                                <option value="">Arizona</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="town-city-div u-s-m-b-8">
                                                        <label class="sr-only" for="town-city"></label>
                                                        <input type="text" id="town-city" class="text-field" placeholder="Town / City">
                                                    </div>
                                                    <div class="postal-code-div u-s-m-b-8">
                                                        <label class="sr-only" for="postal-code"></label>
                                                        <input type="text" id="postal-code" class="text-field" placeholder="Postcode / Zip">
                                                    </div>
                                                    <div class="update-totals-div u-s-m-b-8">
                                                        <button class="button button-outline-platinum">Update Totals</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3 class="calc-h3 u-s-m-b-0" id="tax-heading">Tax</h3>
                                            <span> (estimated for your country)</span>
                                        </td>
                                        <td>
                                            <span class="calc-text">$0.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3 class="calc-h3 u-s-m-b-0">Total</h3>
                                        </td>
                                        <td>
                                            <span class="calc-text">$220.00</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> -->
                    <!-- Billing /- -->
                </div>
            </div>
        </div>
    </div>
  {% endblock %}