{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Header /- -->
    <!-- Main-Slider -->
    <div class="default-height ph-item">
        <div class="slider-main owl-carousel">
            <div class="bg-image one">
                <div class="slide-content slide-animation">
                    <h1>AT THE LOWEST </h1>
                    <h2>PRICE /</h2>
                </div>
            </div>
            <div class="bg-image two">
                <div class="slide-content-2 slide-animation">
                    <h2 class="slide-2-h2-a">POWER WINDOW</h2>
                    <h2 class="slide-2-h2-b">UP TO 55%</h2>
                    <h1>OFF</h1>
                </div>
            </div>
            <div class="bg-image three">
                <div class="slide-content slide-animation">
                    <h1>SHOP
                        <span style="color:#333">NOW</span>
                    </h1>
                    <h2 style="color:#333"></h2>
                </div>
            </div>
        </div>
    </div>
    <!-- Men-Clothing-Timing-Section -->
    <section class="section-maker">
        <div class="container">
            <div class="sec-maker-header text-center">
                <span class="sec-maker-span-text">****</span>
                <h3 class="sec-maker-h3 u-s-m-b-22">NEW PRODUCTS</h3>
                <span class="sec-maker-span-text">****</span>
                <!-- Timing-Box -->
                <!-- <div class="section-timing-wrapper dynamic">
                    <span class="fictitious-seconds" style="display:none;">18000</span>
                    <div class="section-box-wrapper box-days">
                        <div class="section-box">
                            <span class="section-key">120</span>
                            <span class="section-value">Days</span>
                        </div>
                    </div>
                    <div class="section-box-wrapper box-hrs">
                        <div class="section-box">
                            <span class="section-key">54</span>
                            <span class="section-value">HRS</span>
                        </div>
                    </div>
                    <div class="section-box-wrapper box-mins">
                        <div class="section-box">
                            <span class="section-key">3</span>
                            <span class="section-value">MINS</span>
                        </div>
                    </div>
                    <div class="section-box-wrapper box-secs">
                        <div class="section-box">
                            <span class="section-key">32</span>
                            <span class="section-value">SEC</span>
                        </div>
                    </div>
                </div> -->
                <!-- Timing-Box /- -->
            </div>
            <!-- Carousel -->
            
            <div class="slider-fouc">
                <div class="products-slider owl-carousel" data-item="4">
                    
                    {% for i in product %}
                    <div class="item">
                        <div class="image-container">
                            <a class="item-img-wrapper-link" href="{% url 'singleproduct' i.id %}">
                                <img class="img-fluid" src="{{i.product_image.url}}" style=" width: 250px;
                                height:250px;" alt="Product">
                            </a>
                            <div class="item-action-behaviors">
                                <a class="item-quick-look" data-toggle="modal" href="#quick-view">Quick Look</a>
                                <a class="item-mail" href="javascript:void(0)">Mail</a>
                                <a class="item-addwishlist" href="javascript:void(0)">Add to Wishlist</a>
                                <a class="item-addCart" href="javascript:void(0)">Add to Cart</a>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="what-product-is" style=" text-align: center;">
                                <ul class="bread-crumb">
                                    <!-- <li class="has-separator">
                                        <a href="shop-v1-root-category.html">{{i.name}}</a>
                                    </li> -->
                                    <!-- <li class="has-separator">
                                        <a href="shop-v2-sub-category.html">Outwear</a>
                                    </li>
                                    <li>
                                        <a href="shop-v3-sub-sub-category.html">Jackets</a>
                                    </li> -->
                                </ul>
                                <h6 class="item-title" style=" text-align: center;">
                                    <a style="font-weight:bold;font-size:16px; text-align: center;" href="{% url 'singleproduct' i.id %}">{{i.name}}</a>
                                </h6><br>
                                <h7> {{i.description}}</h7>
                                <div class="item-stars">
                                    <div class='star' title="0 out of 5 - based on 0 Reviews">
                                        <span style='width:0'></span>
                                    </div>
                                    <span>(0)</span>
                                </div>
                            </div>
                            <div class="price-template">
                                <div class="item-new-price">
                                    {{i.selling_price}}
                                </div>
                                <div class="item-old-price">
                                    {{i.original_price}}
                                </div>
                            </div>
                        </div>
                        <div class="tag hot">
                            <span>NEW</span>
                        </div>
                    </div>
                    {% endfor %}
                   
                </div>
            </div>
       
            <!-- Carousel /- -->
        </div>
    </section>
   
    <!--  -->
    <!-- Continue-Link /- -->
    <!-- Brand-Slider -->
    <!-- <div class="brand-slider u-s-p-b-80">
        <div class="container">
            <div class="brand-slider-content owl-carousel" data-item="5">
                <div class="brand-pic">
                    <a href="#">
                        <img src="{% static 'images/brand-logos/b1.png' %}" alt="Brand Logo 1">
                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img src="{% static 'images/brand-logos/b1.png' %}" alt="Brand Logo 2">
                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img src="{% static 'images/brand-logos/b1.png' %}" alt="Brand Logo 3">
                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img src="{% static 'images/brand-logos/b1.png' %}" alt="Brand Logo 5">
                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img src="{% static 'images/brand-logos/b1.png' %}" alt="Brand Logo 6">
                    </a>
                </div>
                <div class="brand-pic">
                    <a href="#">
                        <img src="{% static 'images/brand-logos/b1.png' %}" alt="Brand Logo 7">
                    </a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Brand-Slider /- -->
    <!-- Site-Priorities -->
    <!-- Site-Priorities /- -->
    <!-- Footer -->
{% endblock %}
